::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    white;
}

/* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #ff9800;
     box-shadow: 0 1px 0 0 #ff9800;
}

.tabs .indicator { 
	background-color: #ff9800 !important; 
}